.caixa{
    display: flex;
    justify-content: start;
    align-items: center;
}
.cx1{
    width: 100px;
    height: 100px;
    border:  solid blue;
    background-color: rgb(150, 215, 255);
}
#visor{
    font-size: small;
    
    width: 200px;
    height: 200px;
    border-color: black;
}
#contadorN{
    width: 200px;
    height: 50px;
   
}
#enviar{
    width: 200px;
    height: 50px;
}
#submit{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    border:  solid blue;
    background-color: rgb(150, 215, 255);
}
